name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt-get install texlive-fonts-recommended texlive-latex-recommended

    - name: Check bibtex files
      run: |
        cd tests/paper
        make test
        make test-short
